.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0px 20px;
  background-color: dodgerblue;
  color: white;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  ul {
    display: flex;
    gap: 30px;
    list-style: none;
  }

  button {
    padding: 10px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    cursor: pointer;
  }

  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
}
